<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head th:include="/release/common/header :: commonHeader('用户管理',true, false)"></head>

<body>
<div id="wrapper">

    <!--/. NAV TOP  -->
    <div th:include="/release/common/navtop :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/release/common/navbar :: nav" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                先锋系统管理
                <small>用户管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index">主页</a></li>
                <li><a href="#">系统管理</a></li>
                <li class="active">用户管理</li>
            </ol>

        </div>
        <div id="page-inner">
            <div class="row" id="userPage">
                <div class="col-md-12" v-show="table && pageMode === 'view'">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">系统用户列表</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover" id="userTable"></table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" v-if="detail || pageMode === 'create'">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button v-if="pageMode === 'view'" class="btn btn-primary btn-info" type="button"
                                    v-on:click="showUserTable" onclick="return false;">
                                <i class="fa fa-arrow-left"></i> 返回列表
                            </button>
                            用户信息详情
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" id="editUserForm">
                                <div class="col-md-12 col-sm-4">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            学期信息
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="year-semester" class="col-sm-12 control-label">*年份-学期(YYYY-XX):</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="year-semester" class="form-control" required disabled
                                                           v-model="user.info"/>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="userId" class="col-sm-12 control-label">*用户ID:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="userId" class="form-control" required disabled
                                                           v-model="user.userId"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="username" class="col-sm-12 control-label">*用户名:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="username" class="form-control" minlength="4"
                                                           maxlength="20" required v-model="user.username"
                                                           v-if="pageMode==='view'"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            注意：用户名修改请小心重名
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            人员基本信息
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="lastName" class="col-sm-12 control-label">*姓:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="lastName" class="form-control" minlength="1"
                                                           maxlength="20" required v-model="user.lastName"/>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="firstName" class="col-sm-12 control-label">*名:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="firstName" class="form-control" minlength="1"
                                                           maxlength="20" required v-model="user.firstName"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="birthday" class="col-sm-12 control-label">*生日:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="birthday" class="form-control" minlength="10"
                                                           maxlength="10" required v-model="user.birthday"/>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="email" class="col-sm-12 control-label">*邮箱:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="email" type="email" class="form-control" required
                                                           v-model="user.email"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="tel" class="col-sm-12 control-label">*电话号:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="tel" isDigits="true" class="form-control" minlength="8"
                                                           maxlength="11" required v-model="user.tel"/>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="dorm" class="col-sm-12 control-label">宿舍号:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="dorm" class="form-control" v-model="user.dorm"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="qq" class="col-sm-12 control-label">QQ号:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="qq" isDigits="true" class="form-control" minlength="8"
                                                           maxlength="20" v-model="user.qq"/>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="weChat" class="col-sm-12 control-label">微信号:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="weChat" class="form-control" v-model="user.weChat"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="qq" class="col-sm-12 control-label">*性别:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="radio3 radio-check radio-success radio-inline"
                                                         id="male-div">
                                                        <input type="radio" id="male" name="gender" value="male"
                                                               v-model="user.gender">
                                                        <label for="male">男</label>
                                                    </div>
                                                    <div class="radio3 radio-check radio-success radio-inline"
                                                         id="female-div">
                                                        <input type="radio" id="female" name="gender" value="female"
                                                               v-model="user.gender">
                                                        <label for="female">女</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            注意：*为必填项，其余选填。
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            账户属性
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label class="col-sm-12 control-label">*角色:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div id="student-div"
                                                         class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                        <input type="checkbox" id="student1" name="type" value="s"
                                                               v-model="userType">
                                                        <label for="student1">学生</label>
                                                    </div>
                                                    <div id="faculty-div"
                                                         class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                        <input type="checkbox" id="faculty1" name="type" value="f"
                                                               v-model="userType">
                                                        <label for="faculty1">教师</label>
                                                    </div>
                                                    <div id="admin-div"
                                                         class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                        <input type="checkbox" id="admin1" name="type" value="a"
                                                               v-model="userType">
                                                        <label for="admin1">系统管理员</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="col-sm-12 control-label">*账户启停:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div id="active-div"
                                                         class="radio3 radio-check radio-success radio-inline">
                                                        <input type="radio" id="active" name="status" value="1"
                                                               v-model="user.status">
                                                        <label for="active">启用</label>
                                                    </div>
                                                    <div id="inactive-div"
                                                         class="radio3 radio-check radio-success radio-inline">
                                                        <input type="radio" id="inactive" name="status" value="0"
                                                               v-model="user.status">
                                                        <label for="inactive">禁用</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label class="col-sm-12 control-label">*高级权限:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                        <input type="checkbox" id="teach" value="2"
                                                               v-model="userRole">
                                                        <label for="teach">教务</label>
                                                    </div>
                                                    <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                        <input type="checkbox" id="system" value="4"
                                                               v-model="userRole">
                                                        <label for="system">系统</label>
                                                    </div>
                                                    <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                        <input type="checkbox" id="logistic" value="3"
                                                               v-model="userRole">
                                                        <label for="logistic">后勤</label>
                                                    </div>
                                                    <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                        <input type="checkbox" id="admin" value="1"
                                                               v-model="userRole">
                                                        <label for="admin" color="red">超级管理员</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" v-if="pageMode === 'view'">
                                                <div class="col-sm-2">
                                                    <label class="col-sm-12 control-label">密码重置(不选不会重置):</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div lass="radio3 radio-check radio-success radio-inline">
                                                        <input type="radio" id="reset" name="reset" value="true"
                                                               v-model="passwordReset">
                                                        <label for="reset">重置</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" v-if="pageMode === 'create'">
                                                <div class="col-sm-2">
                                                    <label class="col-sm-12 control-label">密码:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" v-model="user.password">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            注意：1.此处为角色，为用户的属性，非权限。2.用户禁用后将无法登录，但数据不会删除。3.密码重置后，用户登录将要求修改密码。
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="password" class="col-sm-12 control-label">备注信息:</label>
                                                </div>

                                                <div class="col-sm-8">
                                                    <textarea style="resize: none;" class="form-control" rows="3"
                                                              v-model="user.comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label for="password"
                                                           class="col-sm-12 control-label">*请确认上述信息正确无误:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div id="yes-div"
                                                         class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                        <input type="checkbox" id="yes" name="confirm" required>
                                                        <label for="yes">确认</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="password"
                                                           class="col-sm-12 control-label">*管理员操作密码:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="password" id="password" class="form-control"
                                                           minlength="6" maxlength="16" checkOpPwd="true" required/>
                                                </div>
                                                <button style="width:150px;" class="btn btn-primary btn-danger"
                                                        v-if="pageMode === 'view'" v-on:click="update">
                                                    更新
                                                </button>
                                                <button style="width:150px;" class="btn btn-primary btn-danger"
                                                        v-if="pageMode === 'create'" v-on:click="create">
                                                    创建
                                                </button>
                                                <button class="btn btn-primary btn-info" type="button"
                                                        v-on:click="showUserTable" v-if="pageMode === 'view'">
                                                    <i class="fa fa-arrow-left"></i> 返回列表
                                                </button>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            注意：操作密码不是登录密码
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id=footerPlaceholder">
                <div th:include="/release/common/footer :: copy" id="copyright"></div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div th:include="/release/common/js :: load_js(true , false, false)"></div>

<script>
    let userTable;
    let userVue = new Vue({
        el: '#userPage',
        data: {
            userList: [],
            user: {
                userId: "",
                createTime: "",
                updateTime: "",
                status: "",
                userInfo: "",
                roleId: "",
                type: "",
                info: "",
                lastName: "",
                firstName: "",
                email: "",
                password: "",
                weChat: "",
                qq: "",
                tel: "",
                birthday: "",
                gender: "",
                comment: "",
                profile: ""
            },
            userType: [],
            userRole: [],
            passwordReset: "",
            table: true,
            detail: false,
            pageMode: location.search.split("&")[0].split("=")[1],//location.search获取url中的?后的字符串
        },
        mounted: function () {
            laydate.render({
                elem: '#birthday',
                theme: '#393D49',
                showBottom: false,
                done: (value) => {
                    this.user.birthday = value
                }
            });
        },
        methods: {
            showUserTable: function () {
                this.table = true;
                this.detail = false;
            },

            update: function () {
                let type = "";
                let roleId = "";
                for (let i = 0; i < this.userType.length; i++)
                    if (this.userType[i] !== "")
                        type += this.userType[i] + "/";
                for (let i = 0; i < this.userRole.length; i++)
                    if (this.userRole[i] !== "")
                        roleId += this.userRole[i] + "/";

                if (type.indexOf("s") !== -1)
                    roleId += "5/";
                if (type.indexOf("f") !== -1)
                    roleId += "6/7/";

                this.user.type = type;
                this.user.roleId = roleId;

                if (this.passwordReset === "true") {
                    this.user.password = hex_md5("pioneer123456");
                }

                axios.put("/user/" + this.user.userId, this.user).then(function (response) {
                    if (response.data.code === 2001)
                        Showbo.Msg.alert(response.data.msg, function () {
                            this.table = true;
                            this.detail = false;
                            userTable.draw();
                        });
                    else
                        Showbo.Msg.alert(response.data.msg, function () {
                        });
                });
            },

            create: function () {
                let type = "";
                let roleId = "";
                for (let i = 0; i < this.userType.length; i++)
                    if (this.userType[i] !== "")
                        type += this.userType[i] + "/";
                for (let i = 0; i < this.userRole.length; i++)
                    if (this.userRole[i] !== "")
                        roleId += this.userRole[i] + "/";

                if (type.indexOf("s") !== -1)
                    roleId += "5/";
                if (type.indexOf("f") !== -1)
                    roleId += "6/7/";

                this.user.type = type;
                this.user.roleId = roleId;
                this.user.password = hex_md5(this.user.password);

                axios.post("/user", this.user).then(function (response) {
                    if (response.data.code === 2001)
                        Showbo.Msg.alert(response.data.msg, function () {
                            window.location.href = basePath + "/manage/user/manage?mode=view";
                        });
                    else
                        Showbo.Msg.alert(response.data.msg, function () {
                        });
                });
            }
        }
    });

    function deleteUser(userId) {
        Showbo.Msg.confirm("确认删除该用户？", function () {
            if ($(".btnfocus").val() !== "取消") {
                axios.delete("/user/" + userId).then(function (response) {
                    if (response.data.code === 2001)
                        Showbo.Msg.alert("删除成功!", function () {
                            userTable.draw();
                        });
                    else
                        Showbo.Msg.alert(response.data.msg, function () {
                        });
                });
            }
        });
    }

    function userDetail(col) {
        userVue.$data.user = userVue.$data.userList[col];
        userVue.$data.userType = userVue.$data.user.type.split("/");
        userVue.$data.userRole = userVue.$data.user.roleId.split("/");
        userVue.$data.table = false;
        userVue.$data.detail = true;
    }

    $(function () {

        userTable = $("#userTable").DataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "没有数据！",
                "info": "显示 _START_ 至 _END_ 条 ，总共_TOTAL_ 条数据",
                "infoEmpty": "没有发现记录！",
                "infoFiltered": "(从_MAX_条记录中搜索)",
                "lengthMenu": "显示: _MENU_",
                "search": "搜索:",
                "zeroRecords": "没有找到匹配的记录！",
                "paginate": {
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页",
                    "first": "首页"
                }
            },
            "pagingType": "full_numbers",
            "lengthMenu": [
                [5, 10, 50],
                [5, 10, 50]
            ],
            pageLength: 10,
            processing: true,
            serverSide: true,

            ajax: {
                url: basePath + "/user",
            },
            columns: [
                {  //行号
                    "data": null, "title": "ROW", "render": function (data, type, row, meta) {
                    return meta.settings._iDisplayStart + meta.row + 1;
                }
                },
                {"data": "userId", "title": "用户ID"},
                {"data": "username", "title": "用户名"},
                {"data": "lastName", "title": "姓"},
                {"data": "firstName", "title": "名"},
                {"data": "type", "title": "账户类型"},
                {
                    "data": "status", "title": "状态", "createdCell": function (nTd, rowData, row) {
                    if (rowData === "1") $(nTd).html('<p style="line-height: 1.42857143; padding-top: 0; color:green;">已启用</p>');
                    else if (rowData === "0") $(nTd).html('<p style="line-height: 1.42857143; padding-top: 0; color:red; ">已禁用</p>')
                    userVue.$data.userList.push(row);
                }
                },
                {"data": "updateTime", "title": "更新时间"},
                {
                    "data": null, "title": "操作", "createdCell": function (nTd, rowData, row, col) {
                    $(nTd).html('<button class="btn btn-info" onclick="deleteUser(\'' + rowData.userId + '\')">删除用户</button>' +
                        '<button class="btn btn-edit" onclick="userDetail(\'' + col + '\')">编辑用户</button>');
                }, "width": "180px"
                }
            ],
            "columnDefs": [{
                orderable: false,
                targets: [8]
            }, {
                "defaultContent": "",
                "targets": "_all"
            }]

        });
    });
</script>
</body>
</html>
