<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head th:include="/common :: header('选课设置',true, true)"></head>
<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <div th:include="/common :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/common :: navbar" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                先锋教务管理
                <small>创建新课程</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index">主页</a></li>
                <li><a href="#">教学系统</a></li>
                <li class="active">选课课程表单</li>
            </ol>

        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12" id="choosePage">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">新学期选课课程表单</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div v-if="!pinValidate">
                                <form class="form-horizontal">
                                    <div class="col-md-12 col-sm-4">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                识别码验证
                                            </div>
                                            <div class="form-group panel-body">
                                                <div class="col-sm-2">
                                                    <label for="pin" class="col-sm-12 control-label">*请输入识别码:</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="pin" class="form-control" minlength="6" maxlength="6"
                                                           required v-model="pin"/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button style="width:150px;" class="btn btn-success"
                                                            onclick="validate()">
                                                        验证
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                注意：该处填写你的识别码，你的识别码请在导师处获取。
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div v-show="pinValidate">
                                <form class="form-horizontal">
                                    <div class="col-md-12 col-sm-4">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                选课工作区
                                            </div>
                                            <div class="form-group panel-body">
                                                <div class="col-md-3">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            选课工作表
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <div class="col-sm-4">
                                                                    学分上限: {{tol_credits}}
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    已用学分: {{use_credits}}
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    可用学分: {{ava_credits}}
                                                                </div>
                                                            </div>
                                                            <hr/>
                                                            <div id="worksheet" v-html="worksheet"></div>
                                                            <hr/>
                                                            <div class="form-group">
                                                                <div class="col-sm-6">
                                                                    <button style="width:150px;" class="btn btn-success"
                                                                            id="submit" v-on:click="submit" onclick="return false;">
                                                                        提交
                                                                    </button>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <button style="width:150px;" class="btn btn-danger"
                                                                            id="reset" v-on:click="reset" onclick="return false;">
                                                                        重置当前
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            新学期课程列表
                                                        </div>
                                                        <div class="panel-body">
                                                            <table id="newCourseTable"
                                                                   class="table table-striped table-bordered table-hover"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" id=footerPlaceholder">
            <div th:include="/common :: footer" id="copyright"></div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div th:include="/common :: load_js(true , false, false)"></div>
<script src="/static/scripts/choose.js"></script>

</body>
</html>
