<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common :: header('我的课程',true, false)"></head>
<head>
    <link rel="stylesheet" href="/static/styles/myCourse.css" >
</head>
<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <div th:include="/common :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/common :: navbar" class="sidebar-collapse"></div>
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                先锋OA系统
                <small>我的课程</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index">主页</a></li>
                <li><a href="/myCourse" class="active">我的课程</a></li>
            </ol>

        </div>
        <div id="page-inner">
            <div class="row" id="myCoursePge">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            我的课程
                        </div>
                        <div class="panel-body">
                            <div class="exampleTable">
                                <div id="firstStep" class="firstStepWrap">
                                    <div id="dbType" class="firstStep clearfix">
                                        <div class="item check">
                                            <div class="img">
                                                <img src="" alt="">
                                            </div>
                                            <h3>关系型数据库</h3>
                                            <p>增加Oracle和 </p>
                                            <p>MySQL类型的关系型</p>
                                            <p>数据库</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <div id = footerPlaceholder">
                <div th:include="/common :: footer" id="copyright"></div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div th:include="/common :: load_js(true , false, false)"></div>
<script>

    let myCourseVue = new Vue({
        el:"#myCoursePge",
        data:{
            courseList:[],
            teachList:[],
            pageMode: location.search.split("&")[0].split("=")[1],
        },
        mounted: function(){
            axios.get('/course?mode=faculty').then(function(response){
                this.teachList = response.data.data;
            });
            axios.get('/transcript?complete=0').then(function(response){
                this.courseList = response.data.data;
            });
        }
    })
</script>
</body>
</html>
