<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common :: header('我的课程',true, false)"></head>
<head>
    <link rel="stylesheet" href="/static/styles/myCourse.css" >
</head>
<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <div th:include="/common :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/common :: navbar" class="sidebar-collapse"></div>
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                先锋OA系统
                <small>我的课程</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index">主页</a></li>
                <li><a href="/myCourse" class="active">我的课程</a></li>
            </ol>

        </div>
        <div id="page-inner">
            <div class="row" id="myCoursePge">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            我的课程
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="firstStep clearfix" v-for="course in courseList">
                                        <div class="lessons-item js-lessons-item g-clearfix" >
                                            <a href="#">
                                                <div class="lessons-pic">
                                                    <img width="240" height="200" src="">
                                                </div>
                                                <div class="lessons-info">
                                                    <h3 class="info-tile">{{course.name}}</h3>

                                                    <div class="lessons-live">
                                                        <span class="space">课程周期: {{course.date}}</span>
                                                        <span class="">课程时间：{{course.time}} {{course.day}}</span>
                                                    </div>
                                                    <div class="lessons-complete">
                                                    <span class="space">作业完成度：<span
                                                            class="js-lesson-complete">{{}}</span></span>
                                                        <span class="space">出勤度：<span
                                                                class="js-lesson-rate">{{}}</span></span>
                                                        <span>教师：<span class="js-lesson-record">{{course.faculty}}</span></span>
                                                    </div>
                                                </div>
                                                <div class="lessons-operate">
                                                    <div class="status over">{{course.status}}</div>
                                                    <div class="enter-class">进入课程</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            我教的课程
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="firstStep clearfix" v-for="course in teachList">
                                        <div class="lessons-item js-lessons-item g-clearfix">
                                            <a href="#">
                                                <div class="lessons-pic">
                                                    <img width="240" height="200" src="">
                                                </div>
                                                <div class="lessons-info">
                                                    <h3 class="info-tile">{{course.name}}</h3>

                                                    <div class="lessons-live">
                                                        <span class="space">课程周期: {{course.date}}</span>
                                                        <span class="">课程时间：{{course.time}} {{course.day}}</span>
                                                    </div>
                                                    <div class="lessons-complete">
                                                    <span class="space">作业完成度：<span
                                                            class="js-lesson-complete">{{}}</span></span>
                                                        <span class="space">直播出勤度：<span
                                                                class="js-lesson-rate">{{}}</span></span>
                                                        <span>录播完成度：<span class="js-lesson-record">{{}}</span></span>
                                                    </div>
                                                </div>
                                                <div class="lessons-operate">
                                                    <div class="status over">{{course.status}}</div>
                                                    <div class="enter-class">进入课程</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

        </div>
        <div class="panel-footer" id = footerPlaceholder">
            <div th:include="/common :: footer" id="copyright"></div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div th:include="/common :: load_js(true , false, false)"></div>
<script>

    let myCourseVue = new Vue({
        el:"#myCoursePge",
        data:{
            courseList:[],
            teachList:[],
            pageMode: location.search.split("&")[0].split("=")[1],
        },
        mounted: function(){
            init();
        }
    });
    function init(){
        axios.get('/course?mode=faculty').then(function(response){
            myCourseVue.$data.teachList = response.data.data;
        });
        axios.get('/student/course?status=1').then(function(response){
            myCourseVue.$data.courseList = response.data.data;
        });
    }
</script>
</body>
</html>
