<!DOCTYPE html><html><head><title>先锋-Pioneer</title><link rel="shortcut icon" href=/static/img/logo.png><link rel=stylesheet href=/static/laydate/theme/default/laydate.css><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no"><script src=static/laydate/laydate.js></script><script>let token = '';
      //MODIFY HERE BEFORE DEPLOY!
      // const basePath = 'http://localhost:30000';
      const basePath = 'http://192.168.1.6:30000';
      function isNotEmpty (value) {
        return value !== '' && value !== undefined && value !== null
      }</script><link href=./static/css/app.7a93295fdea8db5d7d2a1b62d5f6b966.css rel=stylesheet></head><body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden"><div id=app></div><script type=text/javascript src=./static/js/manifest.264952c6e505019bde63.js></script><script type=text/javascript src=./static/js/vendor.63ce726e76b2418b3c5b.js></script><script type=text/javascript src=./static/js/app.bb3aba75de0ce11847dd.js></script></body></html>