<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>

    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/confirm/confirm.css">
    <link rel="stylesheet" href="/static/plugins/blur-admin/vendor-dddc8eebb5.css">
    <link rel="stylesheet" href="/static/plugins/blur-admin/auth-6732706e87.css">

</head>
<body>
<main class="auth-main">
    <div class="auth-block">
        <h1>申请加入先锋</h1>
        <a href="/" class="auth-link">已有先锋账号？点击登录!</a>

        <form id="regForm" class="form-horizontal">
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label"><span style="color: red">*</span>姓</label>
                <div class="col-sm-10">
                    <input class="form-control" id="lastName" stringCheck="true" placeholder="*姓" minlength="1"
                           maxlength="20" value="" required v-model="regUser.lastName">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label"><span style="color: red">*</span>名</label>

                <div class="col-sm-10">
                    <input class="form-control" id="firstName" stringCheck="true" placeholder="*名" minlength="1"
                           maxlength="20" value="" required v-model="regUser.firstName">
                </div>
            </div>
            <div class="form-group">
                <label for="birthday" class="col-sm-2 control-label"><span style="color: red">*</span>生日</label>
                <div class="col-sm-10">
                    <input class="form-control" id="birthday" placeholder="*生日" v-model="regUser.birthday">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">
                    <span style="color: red">*</span>邮箱
                </label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="*邮件" v-model="regUser.email">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">
                    <span style="color: red">*</span>密码</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="*密码" minlength="6"
                           maxlength="16" required v-model="regUser.password">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label"><span style="color: red">*</span>QQ</label>
                <div class="col-sm-10">
                    <input class="form-control" id="qq" isDigits="true" placeholder="*QQ号" minlength="6" maxlength="16"
                           required v-model="regUser.qq">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label"><span style="color: red">*</span>电话</label>
                <div class="col-sm-10">
                    <input class="form-control" id="tel" isDigits="true" placeholder="*电话号码" minlength="8"
                           maxlength="11" required v-model="regUser.tel">
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">注册学期</label>
                <div class="col-md-3">
                    <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="radio" v-on:click="infoChange">
                        <span>本学期加入</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="radio" v-on:click="isReturn=true">
                        <span>返回成员</span>
                    </label>
                </div>
                <div class="col-md-3" v-if="isReturn">
                    <input style="width: 137px;" class="form-control" id="info" stringCheck="true" minlength="7"
                           maxlength="7" required v-model="regUser.info">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">性别</label>
                <div class="col-md-4">
                    <label id="male1" class="radio-inline custom-radio nowrap">
                        <input type="radio" name="gender" id="male" value="male" v-model="regUser.gender">
                        <span>男</span>
                    </label>
                    <label id="female1" class="radio-inline custom-radio nowrap">
                        <input type="radio" name="gender" id="female" value="female" v-model="regUser.gender">
                        <span>女</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default btn-auth" v-on:click="doReg">提交申请</button>
                </div>
            </div>
        </form>
    </div>
</main>
<script src="/static/plugins/vue/vue.js"></script>
<script src="/static/plugins/axios/axios.min.js"></script>
<script src="/static/plugins/md5/md5.js"></script>
<script>
    new Vue({
        el: '#regForm',
        data: {
            regUser: {
                info: "",
                lastName: "",
                firstName: "",
                email: "",
                password: "",
                qq: "",
                tel: "",
                birthday: "",
                gender: "",
                comment: ""
            },
            isReturn: false
        },
        mounted: function () {
            laydate.render({
                elem: '#birthday',
                theme: '#393D49',
                showBottom: false,
                done: (value) => {
                    this.regUser.birthday = value
                }
            });
        },
        methods: {
            doReg: function () {
                const regUser = this.regUser;
                regUser.password = hex_md5(this.regUser.password);
                axios.post("/request/user/register", regUser).then(function (response) {
                    if (response.data.code === 2001)
                        Showbo.Msg.alert("成功！请等待管理员审核。", function () {
                            window.location.href = basePath + "/login";
                        });
                    else
                        Showbo.Msg.alert(data.msg, function () {
                        });
                });
            },
            infoChange: function () {
                this.regUser.info = "2017-02";
                this.isReturn = false;
            }
        }
    });
</script>
</body>
</html>
