<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common :: header('请假管理',false,false)"></head>
<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <div th:include="/common :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/common :: navbar" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                先锋后勤管理
                <small>请假管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index">主页</a></li>
                <li><a href="#">行政管理</a></li>
                <li class="active">请假管理</li>
            </ol>

        </div>
        <div id="page-inner">
            <h2 style="color: white">即将上线！</h2>
        </div>
        <div class="panel-footer" id=footerPlaceholder">
            <div th:include="/common :: footer" id="copyright"></div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div th:include="/common :: js(false , false, false)"></div>

</body>
</html>
